<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Rest Assured, you'll be insured while driving with MONDAYS.</h3>
                <h1>Dynamic, On-Demand Car Liability Insurance</h1>
                <h5>Leveraging automation and security of blockchain technology with connected cars to create a faster, more flexible liability insurance for your driving. Just pay for the kilometers you drive and nothing more, by connecting directly to your car, we can make smarter decisions about your insurance, helping you and your car stay safe.</h5>
                <h5>Should an accident happen, or your car break down, the data from your car is evaluated immediately. Through a smart contract that you signed on the blockchain, you'll get paid right away. </h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->