@import "../../node_modules/bootstrap/scss/bootstrap";

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

$light-blue-color: #96D3EE;
$light-orange-color: #FCD554;

.light-blue {
    color: $light-blue-color !important;
}

.light-orange {
    color: $light-orange-color !important;
}

.light-red {
    color: #FF6961
}

.light-blue-bg {
    background: $light-blue-color !important;
}

.light-orange-bg {
    background: $light-orange-color !important;
}

.btn-theme {
    background: $light-blue-color;
    border-color: $light-blue-color;
    color: White
}