---
layout: about
title: About
permalink: /about/
---

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="{{ "/assets/img/about.jpg" | prepend: site.baseurl }}" alt="">
        </div>
        <div class="col-lg-6">
            <h4>More About MONDAYS</h4>
            <p>Mondays is a project submitted to the <a href="https://hackathon.qtum.org">QTUM Virtual Hackathon.</a></p>
            <!--<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>-->
            <!--<p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>-->
            <p><br/><a href="/contact/" class="btn btn-theme">Contact Us</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->